*                                                                                
!*.*                                                                             
.*                                                                               
*.[o,a]                                                                          
*.l[o,a]                                                                          
RESLT/*                                                                          
RESLT_bell/* 
